/*General*/
body{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

header > h1, header > h2,  footer p, nav{
    color: #FFFFFF;
}

footer a, nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav ul, footer ul {
    list-style-type: none;
}

nav li, footer li {
    display: inline-block;
}

nav ul > a{
    text-transform: uppercase;
}

nav > ul li , footer > ul li{
    padding: 10px;
}

a:hover {
    color: #6BDEC8;
}

footer p {
    margin: 0;
}

/*Header y footer de cursos.html, incripcion-cursos.html y que-es-la-ceramica.html*/
.container, .container > nav header {
    background-color: #000000;
    text-align: center;
    padding: 10px 0;
}

.container h1 {
    display: inline-block;
    padding-left: 5px;
}
.container img {
    width: 30px;
}

div.container{
    padding: 0;
    margin: 0;
}

header nav{
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
}

h1, nav {
    padding: 0;
    margin: 0;
}

h1{
    padding-top: 20px;
}

.pag-actual {
    border-bottom: #FFFFFF solid 2px;
    border-radius: 2px
}

footer.container {
    padding-top: 0;
    text-align: left;
    padding-left: 270px;
    padding-bottom: 60px;
}

footer.container > p{
    padding-left: 50px;
}
/*index.html*/
.container-index {
    margin: 0;
    padding: 0;
    text-align: center;
}
.container-index > nav, .container-index > header {
    padding-bottom: 120px;
}
.container-index > footer {
    padding-top: 50px;
}
#header-index > img {
    margin: 0;
    width: 70px;
}
#header-index > h1 {
    margin: 0;
    font-size: 5rem;
    letter-spacing: -4px;
}
#header-index > h2 {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 4px;
}
#index-background {
    background: url('../img/home-hero.jpg') no-repeat center center fixed;
    background-size: cover;
}

/*cursos.html*/
.cursos-ceramica {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
.titulo, .fecha {
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.titulo{
    font-size: 2.5rem;
    padding-top: 20px;
}
.fecha{
    font-size: 3rem;
    padding-bottom: 10px;
}
figcaption a {
    color: #942C0B;
    text-decoration: underline;
    text-decoration-style: dotted;
}
figcaption a:hover {
    color: #6BDEC8;
}
.descripcion {
    margin: 0 auto;
    padding: 20px;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 3rem;
}
.cursos-ceramica{
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 20px auto 40px auto;
}
.cursos-ceramica th,
.cursos-ceramica td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #000000;
}
caption{
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    font-size: 1.35rem;
}
.cursos-ceramica tbody tr:nth-child(odd) {
    background-color: #6BDEC8;
}

/*que-es-la-ceramica.html*/
.ceramica {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.ceramica > h2 {
    text-align: center;
    font-size: 2rem;
}

.video-alfarero {
    padding: 30px 0;
}

.ceramica h3 {
    padding: 5px;
    border-bottom: #000000 solid 1px;
    font-size: 1.5rem;
}

.ceramica p, dd {
    line-height: 1.5rem;
}

.utensilios li {
    line-height: 2rem;
    list-style-type: square;
}

dl {
    padding-left: 20px;
}

dt {
    font-weight: bold;
    font-size: 1.5rem;
}

dd {
    padding-bottom: 20px;
}

.pie-main {
    margin: 0;
    padding: 0;
}

.pie-main a {
    color: #942C0B;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.pie-main a:hover {
    color: #6BDEC8;
}
/*inscripcion-cursos.html*/
.inscripcion {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}